section {
    padding: 40px 20px 40px;
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: dodgerblue;
}

.carousel-indicators li {
    border-color: royalblue;
}

.carousel-indicators li.active {
    background-color: royalblue;
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}

.navbar {
    margin-bottom: 0;
    background: royalblue;
    color: white;
    border: 0;
    font-size: 12px;
    line-height: 1.5px;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: royalblue;
    background-color: #fff !important;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: royalblue;
    background-color: #fff;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.jumbotron {
    background-color: royalblue;
    color: #fff;
    padding: 100px 25px;
    margin: 0;
}

.container-fluid {
    padding: 60px 50px;
}


.card {
    height: 200px;
    background: rgba(0, 0, 0, 0.4);
    background-size: cover;
    background-position: center;
    border: solid 1px #fff;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
}

.card:hover {
    opacity: 0.5;
    cursor: pointer;
}

._card01 {
    background-image: url(http://nearsoft.com/admin/wp-content/uploads/2015/11/joinus-java.png);
}

._card02 {
    background-image: url(http://asphostportal.com/img/icon-sql.png);
}

._card03 {
    background-image: url(https://s3-eu-west-1.amazonaws.com/course.oc-static.com/courses/2479876/14570828119302_illu-cours_html5-css3.png);
}

._card04 {
    background-image: url(http://www.myrepublica.com/uploads/media/android.png);
}

._card05 {
    background-image: url(http://emberify.com/blog/wp-content/uploads/2014/11/emberify_iot_1.jpg);
}

._card06 {
    background-image: url(http://manageyourmedia.eu/wp-content/uploads/2014/10/software-development.jpg);
}

.logo {
    color: royalblue;
    font-size: 80px;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

#portfolio {
    background-color: #eee;
}

body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
}

.jumbotron {
    font-family: Montserrat, sans-serif;
}

.navbar {
    font-family: Montserrat, sans-serif;
}

.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide;
    /* The duration of the animation */
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}